/* Baskervville SC */
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Cinzel:wght@400..900&display=swap');
/* Cinzel */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/* Antic */
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
/* Oswald */
/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}
.title {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 1rem;
}

h1 {
    font-size: 4rem;
    font-family: "Baskervville SC" , serif;
    font-weight: 500;
    color: rgb(83, 31, 0);
}

.log1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.log2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.log2 button {
    background-color: rgb(175, 68, 53);
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 0;
}
.log2 button:hover {
    background-color: rgb(119, 47, 37);
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 0;
    border: 1.5px black solid;
}

button a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Antic" , serif;
    /* font-family: "Bebas Neue" , serif; */
    font-weight: 500;
    padding: 1rem 0.5rem;
    color: black;
}

.log2 button:hover a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Antic" , serif;
    /* font-family: "Bebas Neue" , serif; */
    font-weight: 500;
    padding: 1rem 0.5rem;
    color: wheat;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(152, 191, 100);
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar>a {
    color: rgb(110, 49, 5);
    font-family: "Antic" , serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.3rem 4rem;
}

.navbar>a:hover {
    color: lightgrey;
    font-family: "Antic" , serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1.3rem 4rem;
    background-color: rgb(116, 146, 76);
}























footer {
    background-color: #184042;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 0; */
}
.foo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.foo>div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.foo span {
    font-family: "Antic" , serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: whitesmoke;
}
.foo span:hover {
    font-family: "Antic" , serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: whitesmoke;
    text-decoration: underline;
}
.foo h4 {
    font-family: "Bebas Neue" , serif;
    color: rgb(166,122,78);
    font-weight: 100;
    font-size: 1.3rem;
}
h3 {
    font-family: "Baskervville SC" , serif;
    color:bisque;
    font-weight: 200;
    font-size: 1.6rem;
}
.last {
    display: flex;
    justify-content: center;
    background-color: beige;
    color: gray;
    width: 100%;
    padding: 0.5rem;
}

.s1 {
    text-decoration: underline;
}