/* Baskervville SC */
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Cinzel:wght@400..900&display=swap');
/* Cinzel */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/* Antic */
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
/* Oswald */
/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}
.title {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 1rem;
    flex-wrap: nowrap;
}

h1 {
    font-size: 4rem;
    font-family: "Baskervville SC" , serif;
    font-weight: 500;
    color: rgb(83, 31, 0);
}

.log1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.log2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.log2 button {
    background-color: rgb(175, 68, 53);
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 0;
}
.log2 button:hover {
    background-color: rgb(119, 47, 37);
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 0;
    border: 1.5px black solid;
    transition-duration: 1s;
}

button a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Antic" , serif;
    /* font-family: "Bebas Neue" , serif; */
    font-weight: 500;
    padding: 1rem 0.5rem;
    color: black;
}

.log2 button:hover a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Antic" , serif;
    /* font-family: "Bebas Neue" , serif; */
    font-weight: 500;
    padding: 1rem 0.5rem;
    color: wheat;
    transition-duration: 0.5s;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(152, 191, 100);
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar>a {
    color: rgb(110, 49, 5);
    font-family: "Antic" , serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.3rem 4rem;
    transition-duration: 0.3s;
}

.navbar>a:hover {
    color: lightgrey;
    font-family: "Antic" , serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1.3rem 4rem;
    background-color: rgb(116, 146, 76);
}

main {
    /* background-color: beige; */
    background-color: rgb(255, 238, 196);
}


.hpimg>img {
    width: 100%;
    /* box-shadow: inset 0 0 0 2rem black; */
}

.options {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.options a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.options img {
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
}

.options a:hover span {
    width: 15rem;
    height: 20rem;
    display: flex;
    align-items: center;
    position: absolute;
    top:0;
    border-radius: 1rem;
    justify-content: center;
}

.Carpet {
    font-family: "Cinzel" , serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(202, 174, 174);
    position: absolute;
    top: 7.65rem;
    padding: 1rem 0rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    width: 15rem; 
}

.lighting {
    font-family: "Cinzel" , serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(221, 204, 204);
    position: absolute;
    top: 7.65rem;
    padding: 1rem 0rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    width: 15rem;
}
.Jewellery {
    font-family: "Cinzel" , serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(221, 204, 204);
    position: absolute;
    top: 7.65rem;
    padding: 1rem 0rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    width: 15rem;
}

.Decoration {
    font-family: "Cinzel" , serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(221, 204, 204);
    position: absolute;
    top: 7.65rem;
    padding: 1rem 0rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    width: 15rem;
}

.entemail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 5rem 3.5rem;
    background-color: rgb(166,122,78);
    /* background-color: rgb(159,172,133); */
}

.top {
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgb(177, 50, 33);
    border-radius: 0.6rem;
    /* border: 1px black double; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0.7rem;
    bottom: 0.7rem;
    text-decoration: none;
}

.top:hover {
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgb(119, 27, 15);
    border-radius: 0.6rem;
    /* border: 1px black double; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0.7rem;
    bottom: 0.7rem;
    text-decoration: none;
}

.top span {
    font-family: "Bebas Neue" , serif;
    font-size: 1.2rem;
    color: rgb(26, 1, 1);
}

.entemail label {
    font-size: 2.5rem;
    color: rgb(50,13,0);
    font-family: "Bebas Neue" , serif;
}

.entemail form {
    display: flex;
    justify-content: center;
}

.entemail input{
    border: none;
    width: 20rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1rem;
    /* background-color: rgb(166,122,78); */
}

.entemail button {
    /* background-color: rgb(95, 54, 39); */
    background-color: rgb(77, 34, 19);
    color: rgb(166,122,78);
    border: none;
    padding: 0.5rem;
    font-family: "Bebas Neue" , serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.entemail button:hover {
    cursor: pointer;
    background-color: rgb(54, 21, 9);
    color: rgb(190, 150, 109);
    border: none;
    padding: 0.5rem;
    font-family: "Bebas Neue" , serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.newstable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 5rem 3.5rem;
}

h2 {
    font-family: "Bebas Neue" , serif;
    color: rgb(165, 82, 49);
    font-size: 2.5rem;
    font-weight: 100;

}

table * {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: "Antic" , serif;
}

th {
    background-color: rgb(207, 109, 71);
}

td:first-child {
    background-color: rgb(230, 135, 97);
    text-align: center;
}

td {
    background-color: rgb(235, 158, 128);
}

tr td:nth-of-type(3) {
    background-color: rgb(235, 158, 128);
    display: flex;
    justify-content: space-between;
}
tr td:nth-of-type(4) {
    background-color: rgb(235, 158, 128);
    text-align: center;
}
td a {
    text-decoration: none;
    color: rgb(165, 82, 49);
    font-weight: 400;
}

.shop {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 2rem 4rem;
    gap: 1.5rem;
}

.MARGATE {
    font-size: 3rem;
    font-family: "Bebas Neue" , serif;
    color: rgb(103, 126, 107);
    margin-top: 2rem;
}

.shop p {
    font-size: 1.2rem;
    font-family: "Antic" , serif;
    color:rgb(93,98,92);

}

.shop button {
    background-color: rgb(148,173,152);
    border: none;
    padding: 0.3rem 1rem;
    font-family: "Bebas Neue" , serif;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.shop button:hover {
    background-color: rgb(86, 116, 91);
    border: none;
    padding: 0.3rem 1rem;
    font-family: "Bebas Neue" , serif;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
}
 #abuotus {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    padding-top: 5rem;
    gap: 1.5rem;
 }

 #abuotus div {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #abuotus span {
    font-size: 3rem;
    font-family: "Bebas Neue" , serif;
    color: chocolate;
    margin-top: 2rem;
 }

 #abuotus p {
    font-size: 1.4rem;
    font-family: "Antic" , serif;
    color: rgb(138, 68, 17);
    font-weight: 400;

}

#abuotus img {
width: 20%;
border-radius: 1rem;
border-color: rgb(29, 172, 172);
border-style: solid;
}

.photo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    background-color: rgb(166,122,78);
    padding: 2.5rem;
}

.photo img {
    width: 10%;
    border-radius: 1rem;
}

.photo span {
    font-size: 2rem;
    color: rgb(77, 34, 19);
    font-family: "Bebas Neue" , serif;
}

#sold {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sold>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

#sold img {
    width: 15rem;
    height: 19rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

}

.sol {
    display: flex;
    flex-direction: column;
    border: 4px rgb(126, 69, 43) double;
    border-radius: 1.5rem;
}

footer {
    background-color: #184042;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 0; */
}
.foo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.foo>div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.foo span {
    font-family: "Antic" , serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: whitesmoke;
}
.foo span:hover {
    font-family: "Antic" , serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: whitesmoke;
    text-decoration: underline;
}
.foo h4 {
    font-family: "Bebas Neue" , serif;
    color: rgb(166,122,78);
    font-weight: 100;
    font-size: 1.3rem;
}
h3 {
    font-family: "Baskervville SC" , serif;
    color:bisque;
    font-weight: 200;
    font-size: 1.6rem;
}
.last {
    display: flex;
    justify-content: center;
    background-color: beige;
    color: gray;
    width: 100%;
    padding: 0.5rem;
}

.s1 {
    text-decoration: underline;
}
@media screen and (max-width: 1000px) {
    .shop img {
        display: none;
    }
    #abuotus img {
        display: none;
    }
    .title {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 560px) {
    .newstable {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 2rem;
    }
    .navbar {
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .navbar a{
        padding: 0.5rem;
    }
    footer {
        font-size: 0.5rem;
    }
}